
.tw {
  font-family: 'tw-cen-mt', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    z-index: 1;
}

p,
h2,
h3,
h4,
h5,
h6,
label {
    color: black;
}
.petitTitre{
  font-size: 1.2em;
}
.grandTitre{
  font-size: 2em;
}

a {
  text-decoration: none;
}
.header {
  z-index: 3;
  position: fixed;
}
.home-menu {
    padding: 1.1em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background-color: #A24392;
    opacity: 85%;
}
.pure-menu .pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
}

.home-menu a {
    color: white;
    text-align: right;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: grey;
}
.pure-menu-list{
  color: white;
  font-weight: 400;
  font-size: 170%;
  opacity: 100%;
}

.premPlan {
  z-index: 4;
  position: fixed;
  top:0;
}
.premPlan img {
  width: 14%;
  height: auto;
}

.scrollimg {
  object-fit: fill;
  z-index: 1;
}

.imgDiv {
  padding-bottom: -25%;
  position: absolute;

}

.articleDiv {
  background-image: url("./img/t1.png");
  z-index: 2;
  top: 100%;
  margin-right: 20%;
}

.footer{
  border-top-style: solid;
  border-color: #A24392;
}

.menu-form {
  color: black;
  font-weight: 400;
  font-size: 130%;
  opacity: 90%;
  text-align: center;
}

.menu-form li a:hover,
.menu-form li a:focus {
    background: none;
    border: none;
    color: grey;
    opacity: 80%;
}

.footer-form {
  font-size: 110%;
  color: black;
  text-align: center;
  font-weight: 400;
  margin-top: 3%;
}
.univartoisTaille {
  width: 7%;
  height: auto;
  margin-left: 85%;
  margin-top: -3%;
}
#jaune{
  background-color: #D7DB2D;
}
#orange{
  background-color: #EB8915;
}
#bleu{
  background-color: #00AF9E;
}

.articleDiv {
  margin-left: 15%;
}
.titre{
  color: white;
  text-align: center;
  position: absolute;
  margin-top: 10%;
  z-index: 2;
  font-size: 250%;
  color: #c5c7c5;

}
.presentation{
  position: relative;
  height: 650px;
}
#uqac{
  height: 100px;
  width: 200px;
  margin-left: 175%;
}
#bci{
  height: 200px;
  width: 200px;
  margin-left: 175%;
}
#dundalk{
  height: 200px;
  width: 300px;
  margin-left: 175%;
}
#pablo{
  height: 200px;
  width: 200px;
  margin-left: 175%;
}
